body {
    background-color: #77b8e7;

    font-family:  'Arial Narrow Bold', sans-serif;
}

.home {
   
    text-align: center;
    padding: 20px;
}
.fir1 {
    
    width: 30%;
    display: inline-block;
    border: 3px white solid;
    padding: 5px;
}
.fir1 img {
    width: 100%;
}

.btn {
    
    background-color:#0a0839;
    color:white;
    border-radius: 10px;
    border: 1px white solid;
    width: 100px;
    height: 40px;
}

.container {
    height: 550px;
    margin-top: 50px;
    background-image: url(img/img1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity:0-1;
}